In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
current_dir = os.getcwd()
print(current_dir)

/home/ankur/Documents/LearnML

In [3]:
csv_dir = os.path.join(current_dir,'titanic.csv')
print(csv_dir)
df = pd.read_csv(csv_dir)
print(df.head())

/home/ankur/Documents/LearnML/titanic.csv
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [4]:
dataset = df.copy()
print('Summary Description\n',dataset.describe())

Summary Description
          Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

In [5]:
print(dataset.dtypes)

Survived                     int64
Pclass                       int64
Name                        object
Sex                         object
Age                        float64
Siblings/Spouses Aboard      int64
Parents/Children Aboard      int64
Fare                       float64
dtype: object

In [6]:
target_ = dataset['Survived']
print(target_.head())
dataset = dataset.drop(['Survived'] , axis=1)
print('\n\n\nDataset without target\n',dataset.head())

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64



Dataset without target
    Pclass                                               Name     Sex   Age  \
0       3                             Mr. Owen Harris Braund    male  22.0
1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  female  38.0
2       3                              Miss. Laina Heikkinen  female  26.0
3       1        Mrs. Jacques Heath (Lily May Peel) Futrelle  female  35.0
4       3                            Mr. William Henry Allen    male  35.0

   Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0                        1                        0   7.2500
1                        1                        0  71.2833
2                        0                        0   7.9250
3                        1                        0  53.1000
4                        0                        0   8.0500

In [7]:
features = dataset.copy()

In [8]:
#converting sex column to label encoder
label_encoder = {'male':0 , 'female':1}
dataset['Sex'].map(label_encoder)
print(dataset)

     Pclass                                               Name     Sex   Age  \
0         3                             Mr. Owen Harris Braund    male  22.0
1         1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  female  38.0
2         3                              Miss. Laina Heikkinen  female  26.0
3         1        Mrs. Jacques Heath (Lily May Peel) Futrelle  female  35.0
4         3                            Mr. William Henry Allen    male  35.0
..      ...                                                ...     ...   ...
882       2                               Rev. Juozas Montvila    male  27.0
883       1                        Miss. Margaret Edith Graham  female  19.0
884       3                     Miss. Catherine Helen Johnston  female   7.0
885       1                               Mr. Karl Howell Behr    male  26.0
886       3                                 Mr. Patrick Dooley    male  32.0

     Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0                          1                        0   7.2500
1                          1                        0  71.2833
2                          0                        0   7.9250
3                          1                        0  53.1000
4                          0                        0   8.0500
..                       ...                      ...      ...
882                        0                        0  13.0000
883                        0                        0  30.0000
884                        1                        2  23.4500
885                        0                        0  30.0000
886                        0                        0   7.7500

[887 rows x 7 columns]

In [11]:
#remove name column
dataset = dataset.drop(['Name'] , axis=1)
print(dataset.head())

   Pclass     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard  \
0       3    male  22.0                        1                        0
1       1  female  38.0                        1                        0
2       3  female  26.0                        0                        0
3       1  female  35.0                        1                        0
4       3    male  35.0                        0                        0

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [13]:
dataset.columns

Index(['Pclass', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

In [15]:
columns_renamed = {'Pclass' : 'passengerClass' , 
                    'Sex' : 'Gender' ,
                    'Siblings/Spouses Aboard':'Siblings',
                    'Parents/Children Aboard':'Parents',
                      'Fare' : 'Price'}
dataset.rename(columns=columns_renamed , inplace=True)
print(dataset.head())

   passengerClass  Gender   Age  Siblings  Parents    Price
0               3    male  22.0         1        0   7.2500
1               1  female  38.0         1        0  71.2833
2               3  female  26.0         0        0   7.9250
3               1  female  35.0         1        0  53.1000
4               3    male  35.0         0        0   8.0500

In [17]:
#we will take some samples out of titanic data
print(len(dataset))

887

In [18]:
size = int(len(dataset)*0.40 )
taget_samples = target_[:size]
features = dataset[:size]

In [19]:
print(features)

     passengerClass  Gender   Age  Siblings  Parents    Price
0                 3    male  22.0         1        0   7.2500
1                 1  female  38.0         1        0  71.2833
2                 3  female  26.0         0        0   7.9250
3                 1  female  35.0         1        0  53.1000
4                 3    male  35.0         0        0   8.0500
..              ...     ...   ...       ...      ...      ...
349               1    male  43.0         0        0  35.0000
350               3    male  15.0         1        1   7.2292
351               3    male  25.0         1        0  17.8000
352               3    male  23.0         0        0   7.2250
353               3    male  28.0         0        0   9.5000

[354 rows x 6 columns]

In [21]:
print(taget_samples)

0      0
1      1
2      1
3      1
4      0
      ..
349    0
350    0
351    0
352    0
353    0
Name: Survived, Length: 354, dtype: int64

In [25]:
def train(c,t):
    for i, val in enumerate(t):
        if val == 1:
            specific_hypothesis = c[i].copy()
            break
             
    for i, val in enumerate(c):
        if t[i] == 1:
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
                 
    return specific_hypothesis

In [23]:
features_copy = features.copy()
features_arr = np.array(features_copy)
print(features_arr ,end="\n\n\n\n\n")
target_arr = np.array(taget_samples)
print(target_arr)

[[3 'male' 22.0 1 0 7.25]
 [1 'female' 38.0 1 0 71.2833]
 [3 'female' 26.0 0 0 7.925]
 ...
 [3 'male' 25.0 1 0 17.8]
 [3 'male' 23.0 0 0 7.225]
 [3 'male' 28.0 0 0 9.5]]




[0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 1
 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0
 1 1 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0
 0 1 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1
 1 0 0 0 0 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 0 1 1 1 1 0 0 0 0 0 0
 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1
 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 0 0 0 0]

In [26]:
train(features_arr,target_arr)

array(['?', '?', '?', '?', '?', '?'], dtype=object)

In [46]:
len(features_arr)

354

In [54]:
low_range =2
high_range = 6

In [55]:
train(features_arr[low_range:high_range] , target_arr[low_range:high_range])

array(['?', 'female', '?', '?', 0, '?'], dtype=object)

#### size = [1,2,3,4,5,6,7,8,9,10]
for i in size :
    print(i,train(features_arr[:i],target_arr[:i]))